.vs/
out/
build/
*.user
*.suo
*.opensdf
*.sdf
*.cache
*.vsidx

.qtcreator/
*.pro.user

CMakeUserPresets.json
CMakeSettings.json
cmake-build-debug/
cmake-build-release/
.cache/
.vscode/
data/*
!data/README.md
!data/mailboxes/
data/mailboxes/*
!data/mailboxes/README.md

